{% extends "base.html.twig" %}
{#{% form_theme form 'bootstrap_3_layout.html.twig' %}#}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Forms
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="#">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-edit"></i> Tokens
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-6">

                <h2>Nieuwe token</h2>

                {#<div class="form-group">#}
                    {#<label>Token</label>#}
                    {#<input class="form-control">#}
                {#</div>#}

                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}

                {#<div class="form-group">#}
                    {#<button type="submit" class="btn btn-default">Submit Button</button>#}
                {#</div>#}


        </div>
        <div class="col-lg-6">
            <h2>Huidige tokens</h2>

                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Page</th>
                            <th>Visits</th>
                            <th>% New Visits</th>
                            <th>Revenue</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>/index.html</td>
                            <td>1265</td>
                            <td>32.3%</td>
                            <td>$321.33</td>
                        </tr>
                        <tr>
                            <td>/about.html</td>
                            <td>261</td>
                            <td>33.3%</td>
                            <td>$234.12</td>
                        </tr>
                        <tr>
                            <td>/sales.html</td>
                            <td>665</td>
                            <td>21.3%</td>
                            <td>$16.34</td>
                        </tr>
                        <tr>
                            <td>/blog.html</td>
                            <td>9516</td>
                            <td>89.3%</td>
                            <td>$1644.43</td>
                        </tr>
                        <tr>
                            <td>/404.html</td>
                            <td>23</td>
                            <td>34.3%</td>
                            <td>$23.52</td>
                        </tr>
                        <tr>
                            <td>/services.html</td>
                            <td>421</td>
                            <td>60.3%</td>
                            <td>$724.32</td>
                        </tr>
                        <tr>
                            <td>/blog/post.html</td>
                            <td>1233</td>
                            <td>93.2%</td>
                            <td>$126.34</td>
                        </tr>
                        </tbody>
                    </table>
                </div>




        </div>
    </div>

{% endblock %}
